*{
    margin:0;
    padding:0;
}
.container{
    width:100vw;
}
.formDiv{
    /* border: 1px solid red; */
    margin: 0 auto;
    width: 50vw;
    display: block;
    /* display: none; */ 
}

.tableDiv{
    width:80vw;
    margin: 0 auto;
    /* border: 1px solid red; */
}

ul{
    list-style-type: none;
}

li{
    width: 100%;
}

table{
    width: 100%;
}
th,td{
    width: 20%;
    text-align: center;
    /* border: 1px solid yellow; */
}
th{
    padding: 1em;
}

